{:kotoba.app/id "cloud.itonami.isic-2651", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigxlwbozysjeti5rfj3dxikjlhanbqaqar3hialhmrwzc4h7nh5ji", :kotoba.app/embed-url "ipfs://bafkreigxlwbozysjeti5rfj3dxikjlhanbqaqar3hialhmrwzc4h7nh5ji", :published {:archive "https://kotobase.net/ipfs/bafkreigxlwbozysjeti5rfj3dxikjlhanbqaqar3hialhmrwzc4h7nh5ji", :size 73102, :put-status 201, :get-status 200, :at "2026-08-15T13:45:41.859Z"}}
